@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Press+Start+2P&display=swap');* {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
    border: 0 none;
}

body {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-color: #111b1f;
}

#menu {
    color: #a8d8c9;
    position: absolute;
    height: 150px;
    width: 150px;
    background-color: #2a3d44;
    border: 10px solid black;
    border-radius: 100% 100% 100% 100%;
    z-index: 2;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'Press Start 2P', cursive;
}

#menu>button {
    border: none;
    color: #a8d8c9;
    background-color: #111b1f;
    border-radius: 5px;
    font-family: 'Press Start 2P', sans-serif;
}

#menu>button:hover{
    background-color: #0c1518;
}

@keyframes piscadela {
    50% {
        background-color: #a8d8c9;
    }
}

#genius {
    z-index: 1;
    height: 600px;
    width: 600px;
    display: flex;
    flex-wrap: wrap;
}

#genius>div {
    border: 5px solid black;
    width: 50%;
    flex: none;
}

#genius>div:nth-child(1) {
    background-color: rgb(14, 38, 110);
    border-radius: 100% 0px 0px 0px;
    box-shadow: -1px -1px 18px #0a1113;
}

#genius>div:nth-child(2) {
    background-color: rgba(136, 29, 13, 0.901);
    border-radius: 0px 100% 0px 0px;
    box-shadow: -1px -1px 18px #0a1113;
}

#genius>div:nth-child(3) {
    background-color: rgb(15, 139, 15);
    border-radius: 0px 0px 0px 100%;
    box-shadow: -1px 1px 18px #0a1113;
}

#genius>div:nth-child(4) {
    background-color: rgb(134, 134, 24);
    border-radius: 0 0 100% 0;
    box-shadow: -1px 1px 18px #0a1113;
}

#genius>div.animate {
    animation: piscadela 0.3s ease-in-out;
}

div.points {
    color: #a8d8c9;
    display: inline;
}
#menu > div{
    color: #a8d8c9;;
}