/* https:flatuicolors.com/palette/de*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Press+Start+2P&display=swap');
:root {
    --ascent-color: #111b1f;
    --background-color: #17252a;
    --font-color: #a8d8c9;
    --modal-color: #2a3d44;
    --sub-color: #038058;
    --button-color: #101a1d;
}

* {
    box-sizing: border-box;
}

html,
body {
    font-family: "Press Start 2P", cursive;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: var(--background-color);
}

header {
    padding: .25em;
    background-color: var(--ascent-color);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header>span {
    color: var(--font-color);
}

footer {
    position: fixed;
    bottom: 0px;
    padding: .25em;
    right: 0;
    left: 0;
    color: var(--font-color);
    background-color: var(--ascent-color);
    text-align: center;
    clear: both;
}

button {
    font-family: "Press Start 2P", cursive;
    color: #039164;
    background-color: var(--background-color);
}

.bt-save button {
    display: inline-block;
    padding: 10px 30px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.bt-save button:hover {
    transform: scale(.98);
    color: #03c688;
    background-color: #0c1518;
}

.bt-save button:active {
    transform: scale(.98);
    color: #03c688;
    background-color: #0c1518;
}

.modal {
    background-color: var(--modal-color);
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    padding: 1em;
    margin: 2em;
    position: relative;
}

.modal .bt-close {
    position: absolute;
    height: 2em;
    width: 2em;
    right: -.3em;
    top: -.2em;
    border-radius: 10px;
    cursor: pointer;
    border: none;
}

.modal h1 {
    color: #04e79f;
    display: block;
    margin: 0 0 .25em 0;
    padding: 0;
}

.modal form>div {
    margin-top: 1em;
}

.modal form>div>label {
    color: var(--sub-color);
    display: block;
}

.modal form>div>input {
    font-family: "Press Start 2P", cursive;
    font-size: 12px;
    border: 0;
    color: var(--font-color);
    background-color: var(--modal-color);
    border-bottom: 1px solid var(--font-color);
    width: 100%;
}

.modal input::placeholder {
    color: var(--font-color);
}

textarea:focus,
input:focus {
    outline: none;
}

.modal div.bt-save {
    display: flex;
    justify-content: flex-end;
    margin-top: .5em;
    padding-top: .5em;
}

.action-bar {
    /* border: 2px solid black; */
    top: 1em;
    position: relative;
}

.action-bar input {
    text-align: center;
    font-family: "Press Start 2P", cursive;
    color: var(--font-color);
    border: 0;
    background-color: var(--background-color);
    border-bottom: 1px solid var(--font-color);
}

.action-bar input::placeholder {
    color: var(--font-color);
}

.action-bar button {
    color: #01aa74;
    background-color: var(--modal-color);
    display: inline-block;
    padding: 10px 30px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.action-bar button:hover {
    color: #03c688;
    transform: scale(.98);
    background-color: #0c1518;
}